
  

  .example-chip-list {
    width: 50%;
  }

  ::ng-deep .mat-input-underline {
    display: none;
}
  .scrolling-box{
    /* background-color: #eaeaea; */
  display: block;
  max-width: 50%;
  max-height: 200px;
  padding: 1em;
  overflow-y: auto;
  }