
  
        <!-- <mat-chip-list #chipList> -->
          <!-- <mat-chip
            *ngFor="let fruit of detailedData"
            [selectable]="selectable"
            [removable]="removable"
            (removed)="remove(fruit)">
            {{fruit}}
            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
          </mat-chip> -->
          <input 
            #fruitInput
            [formControl]="fruitCtrl"
            [matAutocomplete]="auto"
            [matChipInputFor]="chipList"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            [matChipInputAddOnBlur]="addOnBlur"
            (matChipInputTokenEnd)="add($event)" [hidden]="true" class="test1"> 
        <!-- </mat-chip-list> -->
        <!-- <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
          <mat-option *ngFor="let fruit of filteredJsonData | async" [value]="fruit">
            {{fruit}}
          </mat-option>
        </mat-autocomplete> -->


 <!-- <mat-form-field class="example-chip-list scrolling-box">
      <mat-chip-list #chipList>
      <mat-chip
      *ngFor="let dat of detailedData"
      [selectable]="selectable"
      [removable]="removable"
      (removed)="remove(dat)">
      {{dat}}
      <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
    </mat-chip>

      <textarea  matInput   #fruitInput [formControl]="DataCtrl" [matAutocomplete]="auto"  (click)="add($event)">
       
        </textarea>
      </mat-chip-list>
    </mat-form-field>
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
        <mat-option *ngFor="let data of filteredJsonData | async" [value]="data">
          {{data}}
        </mat-option>
      </mat-autocomplete>  -->
<!---final code-->
<div class="container">
    <div class="row">
        <mat-chip-list #chipList>
            <mat-chip
            *ngFor="let dat of detailedData"
            [selectable]="selectable"
            [removable]="removable"
            (removed)="remove(dat)">
            {{dat}}
            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
          </mat-chip>
        </mat-chip-list>
        </div>
        <div class="row">
          <textarea  #dataInput [formControl]="DataCtrl"  [matAutocomplete]="auto" class="textArea" (keyup)="check(dataInput.value)"></textarea>
          <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
              <mat-option *ngFor="let data of filteredJsonData | async" [value]="data">
                {{data}}
              </mat-option>
            </mat-autocomplete>  
      </div>
      </div>

    


      <!-- <div>
          <h2>Wikipedia Search</h2>
          <input type="text" [formControl]="DataCtrl">
          <ul>
            <li *ngFor="let item of filteredJsonData | async"  [value]="item">{{item}}</li>
          </ul>
        </div>  
     -->
